@font-face {
  font-family: 'sourcesanspro';
  src: url("./fonts/sourcesanspro.woff2") format('woff2'), url("./fonts/sourcesanspro.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.icon {
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}
a,
a:visited {
  color: #fff;
  text-decoration: none;
}
.sec-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  resize: vertical;
}
.sec-index .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 1.25s linear;
}
.sec-index .cover.shadow {
  background: rgba(0,0,0,0.2);
}
.sec-index .bg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.sec-index .bg-container .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
  background: #333 url("images/4.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 1s linear;
}
.sec-index .bg-container .bg.blur {
  filter: blur(5px);
}
.sec-index .content {
  display: block;
  z-index: 1;
  color: #eee;
  text-align: center;
  transition: all 0.5s linear;
}
.sec-index .content h1 {
  font-size: 48px;
  font-weight: 200;
  margin: 10px 0 0;
  opacity: 0.9;
}
.sec-index .content p {
  margin: 0 0 25px;
  opacity: 0.9;
  font-size: 18px;
}
.sec-index .content a {
  display: block;
  width: 100px;
  margin: 0 auto;
  line-height: 1.6;
  opacity: 0.8;
  transition: all 0.75s linear;
}
.sec-index .content a:hover,
.sec-index .content a:active {
  opacity: 1;
}
.sec-index .icon-picture {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  opacity: 0.8;
  cursor: pointer;
  color: #fff;
  transition: all 0.75s linear;
}
.sec-index .icon-picture:hover {
  opacity: 1;
}
section .content {
  margin: 200px 100px;
}
section .content h2 {
  font-weight: 100;
  font-size: 48px;
}
section .fix-bg {
  min-height: 80vh;
  background: url("images/gyy.jpeg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.sec-music .fix-bg {
  background-image: url("images/le.jpeg");
}
.sec-end {
  background: #f9f9f9;
}
@media (min-width: 960px) {
  section .content {
    display: flex;
  }
  section .content .title {
    flex: 1;
  }
  section .content .description {
    flex: 1;
  }
}
